<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @photo.image %>
</p>

<p>
  <strong>View count:</strong>
  <%= @photo.view_count %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @photo.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @photo.date %>
</p>

<p>
  <strong>Camera type:</strong>
  <%= @photo.camera_type %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
