<p id="notice"><%= notice %></p>

  <%= image_tag @photo.image %>

<p>
  <%= @photo.description %> |
  <strong>Views:</strong>
  <%= @photo.view_count %>

</p>

<p>
  <%= @photo.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @photo.location %>
</p>



<p>
  <strong>Camera type:</strong>
  <%= @photo.camera_type %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
